@import 'style/sass/variables';

.service-card {
  background: $c-white;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  img {
    width: 80px;
    width: 90px;
    margin: 20px auto;
  }
}
