@import 'style/sass/variables';

.calculate-cost {
  background: #ffffff8a;
  position: relative;
  padding: 20px 20px 10px;
  p {
      color: $c-red;
      text-align: left;
      font-weight: 800;
      text-align: left;
      font-size: 24px;
      margin-bottom: 10px;
  }
  select {
    width: 500px;
    padding: 1;
    padding: 10px 12px;
    color: gray;
    border: 1px solid #fbdea2;
    margin: 15px 0;
    display: block;
  }
  button {
    background: #d62828;
    border: none;
    color: #fff;
    padding: 10px 34px;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 600;
  }
}
